/*============* Font *============*/
/* @import url('../font/Inter-VariableFont_opsz,wght.ttf'); */
/*============* Body *============*/
html {
    scrollbar-color: #0B9586;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*============* Navbar *============*/
.navbar {
    background-color: #0B9586;
    color: white;
    display: flex;
    height: 86px;
    padding: 5px 150px;
    align-items: center;
    /* justify-content: space-between; */
    font-family: 'Inter', sans-serif;
    position: sticky;
    top: 0;
    z-index: 100000;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 157px;
    height: 54px;
    background-color: #0b958540;
    /* opacity: 0.5; */
    mix-blend-mode: multiply;
    object-fit: contain;
}

#menu-icon {
    font-size: 38px;
    color: white;
    cursor: pointer;
    display: none;
}

.collapsible-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.navbar .list {
    display: flex;
    list-style: none;
    gap: 40px;
}

.navbar .list .list-link {
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.94px;
}

.navbar .list .list-link:hover {
    color: #FFBB1C;
    transition: 0.3s;
}

.navbar .list .list-link.active {
    background-color: #0000000F;
    width: 110px;
    height: 38px;
    padding: 7px 28px;
    border-radius: 5px;
    border-bottom-width: 3px;
    border-bottom: 3px solid #0000004D
}

.navbar .call-us {
    text-align: end;
    font-size: 18px;
}

.call-us span {
    font-size: 28px;
}

/*============* Header *============*/
.header {
    background-image: url(../images/solar-panels-meadow1.png);
    height: 650px;
    /* width: 100%; */
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header .header-content {
    color: white;
    margin-left: 150px;
    font-family: 'Inter', sans-serif;
    width: 50%;
}

.header .header-content .header-slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 50%;
}

.header .header-content .header-slider line {
    width: 100%;
    height: 5px;
    background-color: gray;
    background: linear-gradient(to right, white 0%, white 30%, transparent 0%, transparent 100%) #575757;
}

.header .header-content h1 {
    font-size: 52px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: -2%;
}

.header .header-content p {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.0%;
}

.header .header-content .header-buttons {
    display: flex;
    gap: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 8%;

}

.header .header-content .btn-call {
    background-color: #3CAB90;
    text-decoration: none;
    padding: 12px 34px;
    gap: 10px;
    border-radius: 109px;
    color: white;
    font-size: 16px;
}

.header .header-content .btn-call:hover {
    color: #FFBB1C;
    transition: 0.3s;
}

.header .header-content .btn-requst {
    background-color: #FFBB1C;
    text-decoration: none;
    padding: 12px 34px;
    gap: 10px;
    border-radius: 109px;
    color: #2A3334;
    font-size: 16px;
}

.header .header-content .btn-requst:hover {
    color: white;
    transition: 0.3s;
}

/* ============ Friendliest Section ============ */
.friendliest {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 80px 150px;
    max-width: 100%;
    margin: 0 auto;
}

.friendliest-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.friendliest-content h1 {
    font-family: 'Inter', sans-serif;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.2;
    color: #101828;
    margin: 0;
}

.friendliest-content p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #475467;
    margin: 0;
}

.friendliest-frame56 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 20px;
}

.frame {
    display: flex;
    align-items: center;
    gap: 20px;
}

.frame h5 {
    font-family: 'Akazan', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #84BD3A;
    margin: 0;
    min-width: 50px;
}

.frame h4 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #101828;
    margin: 0;
}

.friendliest-right {
    position: relative;
    max-width: 100%;
}

.image-wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

.img-rect {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.image-caption {
    position: absolute;
    bottom: 69px;
    left: -17px;
    background: #FFBB1C;
    padding: 33px;
    border-radius: 12px;
    max-width: 43%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.image-caption p {
    font-family: 'Akazan', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.94px;
    height: 42px;
    color: #2A3334;
}

/*============* CTA Power *============*/
.cta {
    background-image: url(../images/81161.png);
    background-size: cover;
    padding: 80px 150px;
    gap: 30px;
    height: 306px;
}



.cta h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 100%;
    letter-spacing: -2%;
    color: #FFFFFF;
}

.cta p {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #FFFFFF;
    width: 59%;
    /* height: 56px; */

}

.cta .btn-quote {
    width: 173px;
    height: 41px;
    padding: 12px 34px;
    gap: 10px;
    border-radius: 109px;
    background-color: #FFBB1C;
    text-decoration: none;
    color: #2A3334;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 8%;
}

.cta.btn-quote:hover {
    color: white;
    transition: 0.3s;
}

/*============* Frame 65 *============*/
.frame65 {
    padding: 80px 150px;
    gap: 30px;
}

.frame65 .frame65-content {
    gap: 30px;
}

.frame65 .frame65-content .frame65-top {
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin: auto;
    width: 100%;
}

.frame65 .frame65-content .frame65-top h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: -2%;
    color: #101828;
    /* height: 51px; */
    margin: 0%;

}

.frame65 .frame65-content .frame65-top p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #475467;
    /* height: 48px; */
}

.frame65 .frame65-content .frame65-bottom {
    /* height: 454px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

}

.frame65 .frame65-content .frame65-bottom .card {
    width: 100%;
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px 0px #0000000D;

}

.frame65 .frame65-content .frame65-bottom .card img {
    width: 100%;
    height: 200px;
}

.frame65 .frame65-content .frame65-bottom .card .card-content {
    padding: 0px 20px;
    gap: 24px;
    font-family: 'Inter', sans-serif;
}

.frame65 .frame65-content .frame65-bottom .card .card-content h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #101828;
}

.frame65 .frame65-content .frame65-bottom .card .card-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #475467;
}

.frame65 .frame65-content .frame65-bottom .card .card-content a {
    width: 173px;
    height: 41px;
    gap: 10px;
    border-radius: 109px;
    text-decoration: none;
    color: #3CAB90;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 8%;
}

.frame65 .frame65-content .frame65-bottom .card .card-content a:hover {
    color: #FFBB1C;
    transition: 0.3s;
}

/*============* CTA Repairs *============*/
.cta-repairs {
    background-image: url(../images/81161\(1\).png);
    background-size: cover;
    padding: 80px 150px;
    gap: 30px;
    height: fit-content;
}

.cta-repairs .cta-repairs-content {
    width: 68%;
    margin: auto;
    backdrop-filter: blur(8px);
    background: #00000091;
    color: white;
    border-radius: 12px;
    padding: 44px;
    text-align: center;
    height: fit-content;
    gap: 32px;
    font-family: 'Inter', sans-serif;
}

.cta-repairs .cta-repairs-content h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: -2%;
    margin: 0;
}

.cta-repairs .cta-repairs-content p {
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #FFFFFF;
    width: 100%;
    /* height: 56px; */

}

/*============* Energy *============*/
.energy {
    padding: 80px 150px;
    gap: 30px;
    background-color: #FFBB1C0D;
    display: flex;
    align-items: start;
}

.energy .energy-left {
    font-family: 'Inter', sans-serif;
    width: 358.6666564941406px;
    gap: 20px;

}

.energy .energy-left img {
    background-color: #0B9586;
    border-radius: 10px;
    border-width: 21px;
    border: 15px solid #3CAB9026
}

.energy .energy-left h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -2%;
    color: #101828;
    width: 358.6666564941406px;
}

.energy .energy-left p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #475467;
    width: 358.6666564941406px;
}

.energy .energy-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    font-family: 'Inter', sans-serif;
}

.energy .energy-right .energy-card {
    gap: 20px;
    border-radius: 12px;
    border-width: 1px;
    padding: 20px;
    border-radius: 12px;
    background-color: #FFFFFF;
    border: 1px solid #3CAB90;
    box-shadow: 0px 4px 30px 0px #0000000D;
    background: #3CAB900D;
}

.energy .energy-right .energy-card .card-img {
    background-color: #3CAB9026;
    gap: 10px;
    border-radius: 10px;
}

.energy .energy-right .energy-card img {
    border-radius: 10px;
    width: 100%;
    height: 106px;
    mix-blend-mode: Luminosity;
    object-fit: contain;

}

.energy .energy-right .energy-card h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #101828;
}

.energy .energy-right .energy-card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #475467;
}

.energy .energy-right .energy-card a {

    gap: 10px;
    text-decoration: none;
    color: #3CAB90;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
}

.energy .energy-right .energy-card a:hover {
    color: #FFBB1C;
    transition: 0.3s;
}

/*============* Values *============*/
.values {
    padding: 80px 150px;
    gap: 28px;
}

.values .values-content {
    gap: 28px;
    margin: auto;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.values .values-content h1 {
    font-weight: 600;
    font-size: 42px;
    line-height: 100%;
    letter-spacing: -2%;
    color: #101828;
    margin: 0%;
}

.values .values-content p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #475467;
}

.values .values-cards {
    display: flex;
    gap: 32px;
    font-family: 'Inter', sans-serif;
}

.values .values-card {
    width: 80%;
    padding: 24px 30px;
    gap: 28px;
    border-radius: 12px;
    background: #3CAB900D;
    border: 1px solid #3CAB90;
}

.values .values-card h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #101828;
}

.values .values-card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #475467;
}

/*============* What Say *============*/
.what-say {
    padding: 80px 150px;
    gap: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.what-say .what-say-left {
    gap: 28px;
    font-family: 'Inter', sans-serif;
    width: 65%;
    text-align: left;
}

.what-say .what-say-left img {
    width: 48px;
    height: 38px;

}

.what-say .what-say-left h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -2%;
    color: #1C1C1C;
}

.what-say .what-say-left p {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0%;
    color: #1C1C1C;
}

.what-say .what-say-right {
    width: 93%;
    /* height:544px; */
    gap: 87px;
    border-radius: 24px;
    padding: 27px;
    background: #3CAB900F;
    display: inline-block;

}

.what-say .what-say-right .what-say-slider {

    width: 100%;
    /* height: fit-content; */
    gap: 40px;


}

.what-say .what-say-right .what-say-slider .what-they-say {
    gap: 20px;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.what-say .what-say-right .what-say-slider .what-they-say h6 {
    font-weight: 700;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #101828;
    width: 100%;
    /* height: 20px; */
    color: #3CAB90;
}

.what-say .what-say-right .what-say-slider p {
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #101828;
    width: 100%;
    margin-bottom: 55px;

    height: fit-content;
}

.what-say .what-say-right .what-say-slider .ellipses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

}

.what-say .what-say-right .what-say-slider .ellipses .ellipse-active {
    width: 8px;
    height: 8px;
    background: #6B6B6B;
    border-radius: 50%;
}

.what-say .what-say-right .what-say-slider .ellipses .ellipse {
    width: 8px;
    height: 8px;
    background: #D9D9D9;
    border-radius: 50%;
}

.what-say .what-say-right .what-say-edited {
    width: 100%;
    /* height: 60px; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.what-say .what-say-right .what-say-card {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    gap: 8px;
}

.what-say .what-say-right .what-say-card img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.what-say .what-say-right .what-say-card .card-content {
    width: 100%;
    height: fit-content;
    gap: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-family: 'Inter', sans-serif;

}

.what-say .what-say-right .what-say-card .card-content h6 {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #1C1C1C;
    width: 100%;
    height: fit-content;
    margin: 0;

}

.what-say .what-say-right .what-say-card .card-content p {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #475467;
    width: 100%;
    height: fit-content;
    margin: 0%;
}

.what-say .what-say-right .what-say-edited .arrows {
    height: fit-content;
    gap: 16px;
    display: flex;
    justify-content: end;
    align-items: center;

}

.what-say .what-say-right .what-say-edited .arrows .arrow-left {
    height: 22px;
    border-radius: 50%;
    padding: 12px;
    border: 1px solid #1C1C1C;
    font-weight: 700;
}

.what-say .what-say-right .what-say-edited .arrows .arrow-right {
    height: 22px;
    border-radius: 50%;
    padding: 12px;
    border: 1px solid #1C1C1C;
    font-weight: 700;

}

.what-say .what-say-right .what-say-edited .arrows .arrow-left:hover {
    background-color: #0B9586;
    transition: 0.3s;
    color: #FFBB1C;
    border: 1px solid #FFBB1C;
}

.what-say .what-say-right .what-say-edited .arrows .arrow-right:hover {
    background-color: #0B9586;
    transition: 0.3s;
    color: #FFBB1C;
    border: 1px solid #FFBB1C;
}

/*============* Footer *============*/
.footer {
    background-color: #283646;
    padding: 80px 150px;
    gap: 30px;

}

.footer .footer-content {
    gap: 30px;
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

.footer .footer-content .footer-left {
    gap: 20px;
}

.footer .footer-content .footer-left .footer-img {
    width: 185px;
    height: 64px;
    background-color: #e5e5e5;
    object-fit: contain;
}

.footer .footer-content .footer-left .footer-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer .footer-content .footer-list {
    display: flex;
    list-style: none;
    gap: 40px;
    font-family: 'Inter', sans-serif;
    padding: 0%;
}

.footer .footer-content .footer-list .list-link {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.footer .footer-content .footer-list .list-link:hover {
    color: #FFBB1C;
    transition: 0.3s;
}

.footer .footer-content .footer-right {
    /* width: 408px; */
    /* height: 82px; */
    flex-direction: column;
    padding-right: 1px;
    padding-left: 1px;
    display: flex;
    align-items: start;
    /* gap: 20px; */

}

.footer .footer-content .footer-right p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .3px;
    color: #FFFFFF;
    /* width: 238px;
    height: 24px; */
}

.footer .footer-content .footer-right .footer-input {
    width: 88%;
    height: 48px;
    padding-left: 20px;
    border-radius: 38px;
    border-width: 1px;
    background: #FFFFFF17;
    border: 1px solid #B3BDC7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-content .footer-right .footer-input .footer-email {
    width: 70%;
    height: 24px;
    border: none;
    background: #ffffff00;
}

.footer .footer-content .footer-right .footer-input .footer-button {
    width: 30%;
    height: 48px;
    border: none;
    background: #FFBB1C;
    border-radius: 38px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .3px;
}

.footer .footer-content .footer-right .footer-input::placeholder {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .3px;
    color: #92989F;
}

.footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    align-items: start;
}

.footer .footer-bottom .footer-bottom-list {
    display: flex;
    margin: 0%;
    list-style: none;
    gap: 12px;
    padding: 0%;
}

.footer .footer-bottom .footer-bottom-list .list-link,
li {
    text-decoration: none;
    color: #92989F;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.26px;
}

.footer .footer-bottom p {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.26px;
    color: #92989F;
}

/* ========= Responsive for Mobile (Max-width: 400px) =========== */

@media (max-width: 400px) {
    body {
        overflow-x: hidden;
    }

    /* Header */
    .header {
        height: auto;
        flex-direction: column;
        padding: 80px 20px;
        background-position: center;
    }

    .header .header-content {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .header .header-content h1 {
        font-size: 38px;
        text-align: left;
    }

    .header .header-content p {
        font-size: 16px;
        text-align: left;
    }

    .header .header-content .header-buttons {
        flex-direction: column;
        gap: 10px;
    }


    /* Friendliest Section */
    .friendliest {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 80px 20px;
        align-items: center;
    }

    .friendliest .friendliest-content,
    .friendliest .friendliest-right {
        width: 100%;
    }

    .image-caption {
        bottom: 0;
        padding: 10px;
        max-width: 43%;
    }

    .image-caption p {
        height: fit-content;
        font-size: 16px;
    }

    /* CTA Section */
    .cta {
        padding: 80px 20px;
        height: auto;
        background-position: right;
        background-size: cover;

    }

    .cta .cta-content {
        width: 100%;
    }

    /* Frame 65 (Solar Kits) */
    .frame65 {
        padding: 80px 20px;
        gap: 30px;
    }

    .frame65 .frame65-content .frame65-bottom {
        flex-direction: column;
        gap: 20px;
    }

    /* CTA Repairs */
    .cta-repairs {
        padding: 80px 20px;
    }

    .cta-repairs .cta-repairs-content {
        width: 90%;
        padding: 10px;
    }

    .cta-repairs .cta-repairs-content h1 {
        font-size: 30px;
        width: auto;
    }

    /* Energy Section */
    .energy {
        flex-direction: column;
        gap: 20px;
        padding: 80px 20px;
    }

    .energy .energy-left,
    .energy .energy-right {
        width: 100%;
    }

    .energy .energy-right {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .energy .energy-left h1 {
        font-size: 28px;
        width: auto;
    }

    .energy .energy-left p {
        width: auto;
        font-size: 18px;
    }

    /* Values Section */
    .values {
        padding: 80px 20px;
    }

    .values-cards {
        flex-direction: column;
        gap: 20px;
    }

    /* What Say Section */
    .what-say {
        flex-direction: column;
        height: auto;
        gap: 20px;
        padding: 80px 20px;
    }

    .what-say-right {
        width: 70%;
        padding: 10px;
    }

    .what-say-left {
        width: 100%;
    }

    .what-say .what-say-slider,
    .what-say .what-say-edited {
        flex-direction: column;
    }

    .what-say .what-say-right .what-say-card {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .what-say .what-say-right .what-say-edited .arrows {
        padding: 10px;
    }

    /* Footer */
    .footer {
        padding: 80px 20px;
        gap: 20px;
    }

    .footer .footer-content {
        flex-direction: column;
        gap: 20px;
    }

    .footer .footer-right {
        width: 100%;
    }

    .footer .footer-content .footer-list {
        gap: 10px;
        flex-direction: column;
    }


    .footer-bottom {
        flex-direction: column;
        gap: 10px;
    }

    .footer-bottom .footer-bottom-list {
        flex-direction: column;
        gap: 10px;
    }
}

/* ========= Responsive for Mobile (Max-width: 768px) =========== */
@media (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    /* Header */
    .header {
        height: auto;
        flex-direction: column;
        padding: 80px 20px;
        background-position: center;
    }

    .header .header-content {
        margin: 0;
        width: 70%;
        text-align: center;
    }

    .header .header-content h1 {
        font-size: 38px;
        text-align: left;
    }

    .header .header-content p {
        font-size: 16px;
        text-align: left;
    }

    .header .header-content .header-buttons {
        flex-direction: column;
        gap: 10px;
    }


    /* Friendliest Section */
    .friendliest {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 80px 20px;
        align-items: center;
    }

    .friendliest .friendliest-content,
    .friendliest .friendliest-right {
        width: 100%;
    }

    .friendliest .image {
        width: 100%;
        height: fit-content;
        background-size: cover;
    }

    .friendliest .frame7 {
        position: relative;
        left: -16px;
    }

    /* CTA Section */
    .cta {
        padding: 80px 20px;
        height: auto;
        background-position: right;
        background-size: cover;
    }

    .cta .cta-content {
        width: 80%;
    }

    /* Frame 65 (Solar Kits) */
    .frame65 {
        padding: 80px 20px;
        gap: 30px;
    }

    .frame65 .frame65-content .frame65-bottom {
        flex-direction: column;
        gap: 20px;
        width: 75%;
        margin: auto;
    }

    /* CTA Repairs */
    .cta-repairs {
        padding: 80px 20px;
    }

    .cta-repairs .cta-repairs-content {
        width: 90%;
        padding: 10px;
    }

    /* Energy Section */
    .energy {
        flex-direction: row;
        gap: 20px;
        padding: 80px 20px;
    }

    .energy .energy-left,
    .energy .energy-right {
        width: 100%;
    }

    .energy .energy-right {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /* Values Section */
    .values {
        padding: 80px 20px;
    }

    .values-cards {
        flex-direction: column;
        gap: 20px;
    }

    /* What Say Section */
    .what-say {
        flex-direction: column;
        height: auto;
        gap: 20px;
        padding: 80px 20px;
    }

    .what-say-right {
        width: 70%;
        padding: 10px;
    }

    .what-say-left {
        width: 100%;
    }

    .what-say .what-say-slider,
    .what-say .what-say-edited {
        flex-direction: column;
    }

    .what-say .what-say-right .what-say-card {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .what-say .what-say-right .what-say-edited .arrows {
        padding: 10px;
    }

    /* Footer */
    .footer {
        padding: 80px 20px;
        gap: 20px;
    }

    .footer .footer-content {
        flex-direction: column;
        gap: 20px;
    }

    .footer .footer-right {
        width: 100%;
    }

    .footer .footer-content .footer-list {
        gap: 10px;
    }


    .footer-bottom {
        flex-direction: column;
        gap: 10px;
    }
}


/* ========= Responsive for Tablet (Max-width: 1024px) =========== */

@media (max-width: 1024px) {
    body {
        overflow-x: hidden;

    }

    /* Navbar */
    .navbar {
        /* flex-direction: column; */
        height: auto;
        padding: 0;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .top-bar {
        width: 100%;
    }

    #menu-icon {
        display: block;

        font-size: 38px;
        color: white;
    }

    .collapsible-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #0B9586;
        padding: 20px;
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
    }

    .collapsible-menu.active {
        display: flex;
    }

    .list {
        flex-direction: column;
        gap: 15px;
    }

    .call-us {
        text-align: center;
    }

    /* Header */
    .header {
        height: auto;
        flex-direction: column;
        padding: 80px 20px;
        background-position: center;
    }

    .header .header-content {
        padding: 80px 20px;
        margin: unset;
    }

    .header .header-content h1 {
        font-size: 38px;
        text-align: left;
    }

    .header .header-content p {
        font-size: 16px;
        text-align: left;
    }

    .header .header-content .header-buttons {
        flex-direction: column;
        gap: 10px;
    }


    /* Friendliest Section */
    .friendliest {
        padding: 80px 20px;
    }

    .friendliest .friendliest-content,
    .friendliest .friendliest-right {
        width: 100%;
    }

    .friendliest .image {
        width: 100%;
        height: fit-content;
        background-size: cover;
    }

    .friendliest .frame7 {
        position: relative;
        left: -16px;
    }

    /* CTA Section */
    .cta {
        padding: 80px 20px;
        height: auto;
        background-position: right;
        background-size: cover;
    }

    .cta .cta-content {
        width: 75%;
    }

    /* Frame 65 (Solar Kits) */
    .frame65 {
        padding: 80px 20px;
        gap: 30px;
    }


    /* CTA Repairs */
    .cta-repairs {
        padding: 80px 20px;
    }

    .cta-repairs .cta-repairs-content {
        width: 90%;
        padding: 10px;
    }

    /* Energy Section */
    .energy {
        flex-direction: column;
        gap: 20px;
        padding: 80px 20px;
    }

    .energy .energy-left,
    .energy .energy-right {
        width: 100%;
    }

    .energy .energy-right {
        flex-direction: column;
        gap: 20px;
    }

    /* Values Section */
    .values {
        padding: 80px 20px;
    }


    /* What Say Section */
    .what-say {
        flex-direction: column;
        height: auto;
        gap: 20px;
        padding: 80px 20px;
    }

    .what-say-right {
        width: 70%;
        padding: 10px;
    }

    .what-say-left {
        width: 100%;
    }

    .what-say .what-say-slider,
    .what-say .what-say-edited {
        flex-direction: column;
    }

    .what-say .what-say-right .what-say-card {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .what-say .what-say-right .what-say-edited .arrows {
        padding: 10px;
    }

    /* Footer */
    .footer {
        padding: 80px 20px;
        gap: 20px;
    }

    .footer .footer-content {
        flex-direction: column;
        gap: 20px;
    }

    .footer .footer-right {
        width: 100%;
    }

    .footer .footer-content .footer-list {
        gap: 10px;
    }


    .footer-bottom {
        flex-direction: column;
        gap: 10px;
    }
}
